Reset and Common Styles*/
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Dongle", sans-serif;
	font-family: 400;
}
body {
	margin: 0;
}
html {
	font-size: 63%;
}
h1 {
	font-size: 6em;
	font-family: 'Dongle', sans-serif;
	font-weight: 500;
}
h2 {
	font-size: 5em;
	font-family: 'Dongle', sans-serif;
	font-weight: 500;
}
h3 {
	font-size: 3em;
	font-family: 'Dongle', sans-serif;
	font-weight: 300;
}
/*End of Reset and Common Styles*/

/*Navbar*/
nav {
	/*background: #e41c6f;*/
	position: absolute;
	z-index: 300;
	top: 0;
	right: 0;
	width: 100%;
	height: 4rem;
	text-align: right;
	padding: 22px;
	margin: 12px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
/*.sticky {
	position: fixed;
	top: 0;
}*/

.navlink {
	margin: 0 12px;
	font-size: 3rem;
	font-family: 'Dongle', sans-serif;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 300;
	position: relative;
}
.navlink::before {
	content: "";
	width: 0;
	height: 0.2rem;
	background: #e41c6f;
	right: 3px;
	bottom: 12px;
	position: absolute;
	transition: width 0.2s;
}
.navlink:hover::before {
	width: 100%;
}
.logo {
	font-size: 8rem;
	font-family: 'Dongle', sans-serif;
	color: #e41c6f;
	display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 3em;
}
/*End of Navbar*/

/*Section 1*/
.section-1 {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgb(207 202 191 / 87%),rgb(203 121 143));
	/*background: url(image/bg.jpg) center no-repeat;*/
	background-size: cover;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-content: center;
}
.section-1-first {
	width: 486px;
	margin: 0 auto;
	padding: 10rem;
	margin-top: 10em;
}
.section-1-second {
	width: 486px;
	margin: 0 auto;
	padding: 10rem;
	text-align: center;
	margin-top: 10em;
}
.greeting {
	font-size: 3em;
	font-family: 'Dongle', sans-serif;
	font-weight: 300;
	color: #fff;
}
.section-1-heading {
	color: #e41c6f;
	margin: 0;
	text-transform: uppercase;
}
.pink-color {
	color: #e41c6f;
}
.resume-link {
	background-color: #e41c6f;
    padding: 15px 35px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 300;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Dongle', sans-serif;
    margin: 30px 0;
}


.section-1-description {
	margin: 0 auto;
	color: #fff;
	line-height: 40px;
	//padding: 13px;
	width: 100%;
}
.personal-img {
	width: 25rem;
	height: 25em;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 50%;
	border: 0.7rem dotted #e41c6f;
	padding: 6px;

}
/*End of Section 1*/



/*Section 2*/
.section-2 {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgb(203 121 143), rgb(207 202 191 / 87%));
}
.section-2-heading {
	text-align: center;
	margin: 0 auto;
	color: #fff;
}
.section-2-heading::before  {
	background: #D7CDBC;
    width: 1px;
    height: 82px;
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 23px;
}
.section-2-description {
	text-align: center;
    margin: 0 auto;
    color: #fff;
    padding: 12px 15px;
    width: 960px;
}

/*End of Section 2